targets_fn	/Users/thalitadias/pythonScripts/twitterScraper/test1.txt 
2targets_fn	/Users/thalitadias/pythonScripts/twitterScraper/test5.txt 
3targets_fn	/tmp/targets.txt
1targets_fn	/Users/thalitadias/pythonScripts/twitterScraper/test4.txt
cores	4
output_path	/Users/thalitadias/pythonScripts/twitterScraper/output
logs_path	/Users/thalitadias/pythonScripts/twitterScraper/logs
sourceCode_path /Users/thalitadias/pythonScripts/twitterScraper/tmp
startDate	0	
endDate		0
