#targets_fn      /home/tcoleman/twitterScraper/TwitterScraper/NorthBayNews.txt
#targets_fn      /home/tcoleman/twitterScraper/TwitterScraper/makalokoh97.txt
#targets_fn      /home/tcoleman/twitterScraper/TwitterScraper/benlovejoy.txt
#targets_fn      /home/tcoleman/twitterScraper/TwitterScraper/dawranliou.txt
#targets_fn      /home/tcoleman/twitterScraper/TwitterScraper/Concert4America.txt
targets_fn      /home/tcoleman/twitterScraper/TwitterScraper/test1.txt
#targets_fn     /tmp/targets.txt
#targets_fn     /home/tcoleman/twitterScraper/TwitterScraper/test4.txt
cores   1
output_path     /home/tcoleman/twitterScraper/TwitterScraper/output
logs_path       /home/tcoleman/twitterScraper/TwitterScraper/logs
sourceCode_path /home/tcoleman/twitterScraper/TwitterScraper/tmp
sourceCodeDir_path /home/tcoleman/twitterScraper/TwitterScraper/tmp_all
startDate       0	dd-mm-YYYY
endDate         0	dd-mm-YYYY
