1targets_fn	/home/tcoleman/twitterScraper/TESTS/CLONE/TwitterScraper/test1.txt 
2targets_fn	/home/tcoleman/twitterScraper/TESTS/CLONE/TwitterScraper/test5.txt 
3targets_fn	/tmp/targets.txt
targets_fn	/home/tcoleman/twitterScraper/TESTS/CLONE/TwitterScraper/test4.txt
cores	4
output_path	/home/tcoleman/twitterScraper/TESTS/CLONE/TwitterScraper/output
logs_path	/home/tcoleman/twitterScraper/TESTS/CLONE/TwitterScraper
sourceCode_path /home/tcoleman/twitterScraper/TESTS/CLONE/TwitterScraper/tmp
